*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
.container-parent  {
    display: flex;
    flex-direction: row !important;
 
    margin: 20px;
    padding: 5px;
     
 
}
.container-parent   .card{
  padding: 20px;
     margin: 20px;
}
.card .card-body{
    text-align: center;
}
body{
    background-image: url(image/thumb-1920-1073914.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.img-wrapper {  
    width: 100%;
  
    overflow: hidden; 
  }
  
  .inner-img {
    transition: 0.3s;
  }
  
  .inner-img:hover {
    transform: scale(1.1);
  }
  
@media only screen and (max-width: 800px) {
    .container-parent  {
        display: flex;
        flex-direction: column !important;
      
 
     
    }
    body{
        background-image: none;
    
    }
  
}
@media only screen and (max-width: 1000px) {
    .container-parent  {
        display: flex;
        flex-direction: column !important;
      
 
     
    }
 
}